<div class="command">
  <div class="command-prefix-container">
    <span class="text-accent-colour-3">Calum</span>
    <span class="text-accent-colour-4">&#64;</span>
    <span class="text-accent-colour-2">localhost</span>
    <span class="text-accent-colour-4">:~$ </span>
  </div>

  <div class="command-input-container">
    @if (command === null) {
      <input id="commandInput" type="text" name="command-label" aria-label="Command Input" (keydown)="onKeyDownEvent($event)">
    } @else {
      <span>{{command.name}}</span>
    }
  </div>
</div>

@if (command != null) {
  @if (command.suggestions !== undefined) {
    {{command.suggestions.join("  ")}}
  } @else {
    <!-- START COMMAND CHECK -->
    @switch (command.name) {
      @case ("help") {
        Available Commands: {{COMMANDS.join(", ")}}
      }
      @case ("whoami") {
        Hi! I'm Calum, a Software Developer with a passion for Rust, experienced in both frontend and backend development
      }
      @case ("github") {
        You can find my GitHub profile here -> <a href="https://github.com/Calum4" target="_blank">github.com/Calum4</a>
      }
      @case ("linkedin") {
        You can find my LinkedIn here -> <a href="https://linkedin.com/in/calummcduff" target="_blank">linkedin.com/in/calummcduff</a>
      }
      @case ("repo") {
        You can find the Git repository for this website <a [href]="repoUrl" target="_blank">here</a>
      }
      @case ("acknowledgement") {
        Special thanks to <a href="https://github.com/m4tt72" target="_blank">m4tt72</a> for inspiring the design
      }
      @case ("") {}
      @default {
        {{command.name}}: command not found, type "help" for a list of available commands
      }
    }
    <!-- END COMMAND CHECK -->
  }
}
