<div class="command">
  <div class="command-prefix-container">
    <span class="text-accent-colour-3">Calum</span>
    <span class="text-accent-colour-4">&#64;</span>
    <span class="text-accent-colour-2">localhost</span>
    <span class="text-accent-colour-4">:~$ </span>
  </div>

  <div class="command-input-container">
    @if (command === null) {
      <input id="commandInput" type="text" name="command-label" aria-label="Command Input" (keydown)="onKeyDownEvent($event)">
    } @else {
      <span>{{command.name}}</span>
    }
  </div>
</div>

@if (command != null) {
  @switch (command.name) {
    @case ("help") {
      Available Commands: {{COMMANDS.join(",")}}
    }
    @case ("whoami") {
      Calum
    }
    @case ("") {}
    @default {
      {{command.name}}: command not found, type "help" for a list of available commands
    }
  }
}
